html {
  font-family: 'Roboto';  
}

body {
  background: url(../img/main/bg-pattern.png);  
  background-size: 15%;
  
  &.content-hidden {
    overflow: hidden;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}