.btn {
  display: inline-block;
  appearance: none;
  padding: 10px 30px;
  color: var(--color-white);
  border-radius: 50px;
  font-size: 16px;
  font-style: normal; 
  background: var(--bg-btn-red);

  &:hover {
    background: var(--bg-btn-hover-red);
  }
  
  @include breakpoint(sm) {
    font-size: 14px;
    padding: 10px 15px;
  }
}