// scss vars
// transition
$fast: 0.3s;
$slow: 0.5s;

// css vars
:root {
  --bg-body: #000000;
  --color-white: white;
  --color-bg-header: #000000;
  --bg-purple: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

img {
  display: block;
  max-width: 100%;
}

