.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.2s;
  

  &_has-bg {
    background: var(--color-bg-header);
  }

  @include breakpoint(md) {
    background: red;
  }
  

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
  }

  &__logo-wrap {
  }

  &__menu-container {
  }

  &__nav {
  }

  &__menu {
    display: flex;
    justify-content: space-between;

    li > a {
      color: var(--color-white);
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
    }
    

    .sub-menu {
      display: none;
    }
  }

  &__cta {
    color: var(--color-white);
  }

  &__burger {
  }

  &__line {
  }
}
.container {
}
.menu {
}

.btn {
}
.burger {
}
