.promo {
  padding-top: 270px;
  background-image: url(../img/promo/promo_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

		&__title {
      max-width: 920px;
      font-size: 64px;
      margin-bottom: 50px;
      @include breakpoint(sm) {
        font-size: 40px;
      }      
		}

		&__time {
      display: flex;
      justify-content: space-between;
      max-width: 522px; 
      margin-bottom: 200px; 
      
      @include breakpoint(sm) {
        max-width: 300px;
      }
		}
    
		&__time-item {
      background: #121212;
      padding: 20px 30px;
      
      @include breakpoint(sm) {
        padding: 10px 15px;
      }
		}

    &__time-number {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      color: var(--color-white);
      line-height: 140%;

      @include breakpoint(sm) {
        font-size: 28px;
      }
    }

    &__time-word {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: var(--color-white);
      opacity: 0.4;
      line-height: 140%;

      @include breakpoint(sm) {
        font-size: 12px;
      }
    }
}

